<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>hello sourabh</title>
</head>
<body>
    <h2>connected this is html </h2>

    <form action="/auth/register" method="POST">
        
        <div class="form-group">

            <label for="one">one</label>
            <input type="number" id="onei" name="name">

        </div>


                <div class="form-group">

            <label for="two">one</label>
            <input type="number" id="onei" name="email">

        </div>


                <div class="form-group">

            <label for="three">one</label>
            <input type="number" id="onei" name="password">

        </div>


                <div class="form-group">

            <label for="four">one</label>
            <input type="number" id="onei" name="passwordconfirm">

        </div>


        <button id="submit" > submit</button>

    </form>


    <p>this is para </p>
</body>
</html>